* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: antiquewhite;
}

html {
    background-color: #A66226;
    scroll-behavior: smooth;
}

body {
    max-width: 100%;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: line;
}

img {
    max-width: 100%;
}

p,
ul,
ol,
li,
.subtitle {
    font-size: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

#txt,
.title1 {
    display: flex;
    flex-direction: row;
    row-gap: 10%;
    margin: 7%;
}

.img-coliseu {
    height: 80vh;
    width: 80vw;
}

.title1 {
    font-size: 100px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
}

.title {
    text-align: center;
    font-size: 80px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 3%;
    margin-top: 3%;
}

.subtitle {
    font-size: 40px;
    font-weight: bold;
    color: rgb(244, 232, 201);
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 5%;
    margin-bottom: 5%;
}

.subtitle2,
.destaque-roma {
    font-size: 30px;
    font-weight: bold;
    color: rgb(244, 232, 201);
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 5%;
    margin-bottom: 5%;
}

span {
    align-self: center;
}

.header,
.navbar {
    display: flex;
    flex-direction: row;
    gap: 70%;
    margin-top: 2%;
    text-decoration: none;
    font-size: 20px;
}

.nav:hover {
    text-decoration: underline;
}

.logo {
    margin-left: 10%;
    margin-right: 10%;
    white-space: nowrap;
}

.intro {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    margin-bottom: 7%;
}

.expansao-texto {
    gap: 5%;
}

.img-mapa,
.legado-img,
.queda-img,
.img-mapa {
    width: 70vw;
    height: 70vh;
    margin: 2% 5% 5% 5%;
}

.governos,
.expansao-dados,
.queda-conteudo {
    margin: 2% 5% 5% 5%;
    /*modelo margem, t d e b */
    display: flex;
    flex-direction: row;
    align-self: center;
}

.governos>div {
    flex: 1;
}

#monarquia,
#republica,
#imperio {
    background-color: #AAADBF transparent;
}

.personagens {
    display: flex;
    flex-direction: row;
    gap: 0%;
    height: 30%;
    width: auto;
}

.personagens>div {
    flex: 1;
    max-width: 20%;
    /* 100% รท 5 = 20% */
    min-width: 0;
    box-sizing: border-box;
}

.personagens img {
    height: 50vh;
    /* Altura fixa para todas */
    width: 100%;
    /* Ocupa toda a largura do container */
    object-fit: cover;
    /* Corta e ajusta sem distorcer */
}

#ra {
    left: 0px;

}

#rb {
    right: 0px;
}

#ra,
#rb {
    height: 80vh;
    width: 80vw;
}

.lenda-conteudo,
.queda-conteudo,
.legado-conteudo,
.expansao-dados {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.estrutura-social {
    display: flex;
    align-items: center;
    padding: 40px;
}

.piramide {
    position: relative;
    width: 50vw;
    height: 50vh;
    margin: 2% 5%;

    /*modelo margem, t d e b */

}

.camada {
    position: absolute;
    width: 100%;
    height: 25%;
    text-align: center;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    transition: transform 0.2s;
}

.camada:hover {
    transform: scale(1.02);
}

.descricao {
    margin-left: 5%;
    max-width: 30vw;
}

.patricios {
    top: 0%;
    background-color: #D92525;
    clip-path: polygon(40% 0%, 60% 0%, 70% 100%, 30% 100%);
}

.clientes {
    top: 25%;
    background-color: #AAADBF;
    clip-path: polygon(30% 0%, 70% 0%, 80% 100%, 20% 100%);
}

.plebeus {
    top: 50%;
    background-color: #F2B544;
    clip-path: polygon(20% 0%, 80% 0%, 90% 100%, 10% 100%);
}

.escravos {
    top: 75%;
    background-color: #183940;
    clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
}


.sociedade-conteudo {
    display: flex;
    flex-direction: row;
    margin: 2% 5% 5% 5%;
    /*modelo margem, t d e b */
}

.piramide-conteudo {
    gap: 10%;
}

.artes-conteudo {
    display: flex;
    flex-direction: row;
    margin: 2% 5% 5% 5%;
}

.footer {
    background-color: #1a1a1a;
    color: #f1f1f1;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    margin-top: 60px;
}

.footer-container {
    justify-content: end;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
}
